extra/test devices/test.devices.1.3.json
[{"id":"d02ad611.d94bc8","type":"tab","label":"tuyaDEAEMON.extra.test devices","disabled":false,"info":""},{"id":"e05b4c.e495e4b8","type":"comment","z":"d02ad611.d94bc8","name":"Device:   tuya_bridge  (WiFi switch)","info":"","x":200,"y":40,"wires":[]},{"id":"95e6a79a.32bea8","type":"inject","z":"d02ad611.d94bc8","name":"test  SET: tuya_bridge switch  ON [1]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"relay\",\"value\":\"ON\"}","payloadType":"json","x":240,"y":120,"wires":[["2abb8b42.fb0014"]]},{"id":"2abb8b42.fb0014","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":535,"y":80,"wires":[]},{"id":"9ecc1854.252ad8","type":"inject","z":"d02ad611.d94bc8","name":"test SET: tuya_bridge 'on reset' [101] HOLD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"restart status\",\"value\":\"memory\"}","payloadType":"json","x":260,"y":200,"wires":[["2abb8b42.fb0014"]]},{"id":"ce43c90.8027338","type":"comment","z":"d02ad611.d94bc8","name":"TEST FOR UNKNOW BINARY base64 DATA","info":"1) Find unknow messages in DB log\n\n2) If messages are binary data encoded base64 (like \"EQ8AAAAAAA==\"), copy it into msg.payload.\n\n3) The output can help you to find the rigth data use.\n\n4) if required add a custom encode() function to node \"format  command\" and decode() function to node \"updates global.tuyastatus, formats SQL\" and update also flow.alldevices.","x":210,"y":380,"wires":[]},{"id":"f46ed967.b7ce48","type":"function","z":"d02ad611.d94bc8","name":"tests the payload string","func":"//  in msg.payload te string\n\nb = Buffer.from(msg.payload, \"base64\");\n\nnode.warn(\"As Hex string: \"+b.toString(\"hex\"));\n\nnode.warn(\"As bytes: [\"+new Uint8Array(b)+\"]\");\n\nvar n =    ~~(b.length / Uint16Array.BYTES_PER_ELEMENT);\nconst uint16arr = new Uint16Array(\n  b.buffer,\n  b.byteOffset,\n  n);\nnode.warn(\"As Int16LE: [\"+uint16arr+\"]\");\n\n//  builds ArrayBuffer\nvar ab = new ArrayBuffer(b.length);\nvar barray = new Uint8Array(ab);\n    for (var i = 0; i < b.length; ++i) {\n        barray[i] = b[i];\n    }\n//  puts int16BE    \nvar view = new DataView(ab);\nvar outs =\"\";\nfor (var j = 0; j < n; j++ ){\n   outs += view.getInt16(j * 2, false) +\", \";\n   }\nnode.warn(\"As Int16BE: [\"+outs.substring(0, outs.length - 2)+\"]\");\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":420,"wires":[["2175d19f.9d277e"]]},{"id":"2175d19f.9d277e","type":"debug","z":"d02ad611.d94bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"71181748.95d248","type":"inject","z":"d02ad611.d94bc8","name":"termosifone 2, lunedi,  121","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ARIE2gUWAAoAPw==","payloadType":"str","x":210,"y":420,"wires":[["f46ed967.b7ce48"]],"info":"Set in msg.payload the received string:\n   eg:  AAAAABE8Pjk1KiEdKzcoMS4fHB8AAAAAAAAAAAAAAA=="},{"id":"ce964c66.57f1c","type":"inject","z":"d02ad611.d94bc8","name":"test: GET tuya_bridge 'on reset' [101]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"restart status\"}","payloadType":"json","x":240,"y":240,"wires":[["2abb8b42.fb0014"]]},{"id":"3b2c654f.efb8fa","type":"comment","z":"d02ad611.d94bc8","name":"_system test","info":"","x":710,"y":40,"wires":[]},{"id":"98d8b5ff.95d078","type":"inject","z":"d02ad611.d94bc8","name":"test  SET: tuya_bridge switch  OFF [1]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"relay\",\"value\":\"OFF\"}","payloadType":"json","x":240,"y":160,"wires":[["2abb8b42.fb0014"]]},{"id":"ff19fbce.18c7b8","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: ACpower","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_ACpower\"}","payloadType":"json","x":760,"y":80,"wires":[["25e4f27d.911f4e"]]},{"id":"bc2781c7.c8bf1","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: WiFinet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_WiFinet\"}","payloadType":"json","x":760,"y":160,"wires":[["25e4f27d.911f4e"]]},{"id":"de2910d6.38337","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: WiFiunconnected","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_WiFiunconnected\"}","payloadType":"json","x":790,"y":200,"wires":[["25e4f27d.911f4e"]]},{"id":"1b2b3b98.f41f14","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: LANnet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_LANnet\"}","payloadType":"json","x":760,"y":240,"wires":[["25e4f27d.911f4e"]]},{"id":"1016d7ab.1925e8","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: ACunconnecter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_ACunconnected\"}","payloadType":"json","x":780,"y":120,"wires":[["25e4f27d.911f4e"]]},{"id":"ba032158.cbd06","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: trgPing","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_trgPing\"}","payloadType":"json","x":750,"y":280,"wires":[["25e4f27d.911f4e"]]},{"id":"25e4f27d.911f4e","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":1095,"y":80,"wires":[]},{"id":"d4e3723.2ce099","type":"inject","z":"d02ad611.d94bc8","name":"test GET: tuya_bridge switch ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"relay\"}","payloadType":"json","x":220,"y":80,"wires":[["2abb8b42.fb0014"]]},{"id":"fa73529d.27681","type":"tuya-smart-device","z":"d02ad611.d94bc8","d":true,"deviceName":"test","deviceId":"bf8c4fd0c03067079cplb4","deviceKey":"71cb03135c51ed75","deviceIp":"","retryTimeout":1000,"findTimeout":1000,"tuyaVersion":"3.1","x":360,"y":1240,"wires":[[]]}]