extra/test devices/test-devices.1.2.json
[{"id":"d02ad611.d94bc8","type":"tab","label":"tuyaDEAEMON.extra.test devices","disabled":false,"info":""},{"id":"e05b4c.e495e4b8","type":"comment","z":"d02ad611.d94bc8","name":"Device:   tuya_bridge  (WiFi switch)","info":"","x":200,"y":40,"wires":[]},{"id":"95e6a79a.32bea8","type":"inject","z":"d02ad611.d94bc8","name":"test  SET: tuya_bridge switch  ON [1]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"switch\",\"value\":\"ON\"}","payloadType":"json","x":240,"y":120,"wires":[["2abb8b42.fb0014"]]},{"id":"2abb8b42.fb0014","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":535,"y":80,"wires":[]},{"id":"37201d89.ff2472","type":"inject","z":"d02ad611.d94bc8","name":"test: GET 'umidificatore'.'schema'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\"}","payloadType":"json","x":230,"y":400,"wires":[["b9bfe83e.88b628"]]},{"id":"d453df80.e4b43","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'.'led': ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"led\",\"value\":\"ON\"}","payloadType":"json","x":230,"y":440,"wires":[["b9bfe83e.88b628"]]},{"id":"5143cf65.0fb5f","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'. ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"spray\",\"value\":\"ON\"}","payloadType":"json","x":220,"y":560,"wires":[["b9bfe83e.88b628"]]},{"id":"2ce08d54.b4ddc2","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'.'timer' ","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"timer\",\"value\":\"38\"}","payloadType":"json","x":220,"y":520,"wires":[["b9bfe83e.88b628"]]},{"id":"9bcd35cd.40c508","type":"inject","z":"d02ad611.d94bc8","name":"test SET: tuya_bridge  102 (special trigger') to 30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"102\",\"value\":30}","payloadType":"json","x":280,"y":280,"wires":[["2abb8b42.fb0014"]]},{"id":"9ecc1854.252ad8","type":"inject","z":"d02ad611.d94bc8","name":"test SET: tuya_bridge 'on reset' [101] HOLD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"on reset\",\"value\":\"HOLD\"}","payloadType":"json","x":260,"y":200,"wires":[["2abb8b42.fb0014"]]},{"id":"65f3ee97.5feae","type":"comment","z":"d02ad611.d94bc8","name":"Device humidifier","info":"","x":160,"y":340,"wires":[]},{"id":"1dac9f55.7d1341","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'.'color': red","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"colour\",\"value\":{\"r\":254,\"g\":0,\"b\":0,\"h\":0,\"s\":100,\"v\":100}}","payloadType":"json","x":240,"y":640,"wires":[["b9bfe83e.88b628"]]},{"id":"76763e1.4bed3c","type":"inject","z":"d02ad611.d94bc8","name":"SET test: 'umidificatore'.'5' (led): OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"5\",\"value\":\"OFF\"}","payloadType":"json","x":240,"y":480,"wires":[["b9bfe83e.88b628"]]},{"id":"ce43c90.8027338","type":"comment","z":"d02ad611.d94bc8","name":"TEST FOR UNKNOW BINARY base64 DATA","info":"1) Find unknow messages in DB log\n\n2) If messages are binary data encoded base64 (like \"EQ8AAAAAAA==\"), copy it into msg.payload.\n\n3) The output can help you to find the rigth data use.\n\n4) if required add a custom encode() function to  \"format  command\" node and decode() function to  \"OUT data process\" node.\n\nsee https://github.com/msillano/tuyaDAEMON/wiki/tuyaDAEMON-toolkit#notes","x":230,"y":820,"wires":[]},{"id":"f46ed967.b7ce48","type":"function","z":"d02ad611.d94bc8","name":"tests the payload string","func":"//  in msg.payload te string\n\nb = Buffer.from(msg.payload, \"base64\");\n\nnode.warn(\"As Hex string: \"+b.toString(\"hex\"));\n\nnode.warn(\"As bytes: [\"+new Uint8Array(b)+\"]\");\n\nvar n =    ~~(b.length / Uint16Array.BYTES_PER_ELEMENT);\nconst uint16arr = new Uint16Array(\n  b.buffer,\n  b.byteOffset,\n  n);\nnode.warn(\"As Int16LE: [\"+uint16arr+\"]\");\n\n//  builds ArrayBuffer\nvar ab = new ArrayBuffer(b.length);\nvar barray = new Uint8Array(ab);\n    for (var i = 0; i < b.length; ++i) {\n        barray[i] = b[i];\n    }\n//  puts int16BE    \nvar view = new DataView(ab);\nvar outs =\"\";\nfor (var j = 0; j < n; j++ ){\n   outs += view.getInt16(j * 2, false) +\", \";\n   }\nnode.warn(\"As Int16BE: [\"+outs.substring(0, outs.length - 2)+\"]\");\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":860,"wires":[["2175d19f.9d277e"]]},{"id":"2175d19f.9d277e","type":"debug","z":"d02ad611.d94bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":860,"wires":[]},{"id":"71181748.95d248","type":"inject","z":"d02ad611.d94bc8","name":"termosifone 2, lunedi,  121","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\t AAAAABE8Pjk1KiEdKzcoMS4fHB8AAAAAAAAAAAAAAA==","payloadType":"str","x":230,"y":860,"wires":[["f46ed967.b7ce48"]],"info":"Set in msg.payload the received string:\n   eg:  AAAAABE8Pjk1KiEdKzcoMS4fHB8AAAAAAAAAAAAAAA=="},{"id":"ce964c66.57f1c","type":"inject","z":"d02ad611.d94bc8","name":"test: GET tuya_bridge 'on reset' [101]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"on reset\"}","payloadType":"json","x":240,"y":240,"wires":[["2abb8b42.fb0014"]]},{"id":"3b2c654f.efb8fa","type":"comment","z":"d02ad611.d94bc8","name":"_system test","info":"","x":710,"y":40,"wires":[]},{"id":"bc1ef8c4.87efc8","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'. OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"spray\",\"value\":\"OFF\"}","payloadType":"json","x":220,"y":600,"wires":[["b9bfe83e.88b628"]]},{"id":"f9f57230.2ce0f","type":"comment","z":"d02ad611.d94bc8","name":"siren:  mirror device","info":"","x":730,"y":400,"wires":[]},{"id":"379064a3.58ac5c","type":"inject","z":"d02ad611.d94bc8","name":"siren: ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"USB siren\",\"property\":\"alarm\",\"value\":\"ON\"}","payloadType":"json","x":700,"y":460,"wires":[["bb0a853c.789078"]]},{"id":"bb0a853c.789078","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":955,"y":460,"wires":[]},{"id":"4a11832f.9f30bc","type":"inject","z":"d02ad611.d94bc8","name":"siren: OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"USB siren\",\"property\":\"alarm\",\"value\":\"OFF\"}","payloadType":"json","x":700,"y":500,"wires":[["bb0a853c.789078"]]},{"id":"810e15ee.778ac8","type":"inject","z":"d02ad611.d94bc8","name":"siren  setup:alarm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"USB siren\",\"property\":\"setup\",\"value\":\"alarm\"}","payloadType":"json","x":720,"y":540,"wires":[["bb0a853c.789078"]]},{"id":"98d8b5ff.95d078","type":"inject","z":"d02ad611.d94bc8","name":"test  SET: tuya_bridge switch  OFF [1]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"switch\",\"value\":\"OFF\"}","payloadType":"json","x":240,"y":160,"wires":[["2abb8b42.fb0014"]]},{"id":"b9bfe83e.88b628","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":555,"y":400,"wires":[]},{"id":"ff19fbce.18c7b8","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: ACpower","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_ACpower\"}","payloadType":"json","x":760,"y":80,"wires":[["25e4f27d.911f4e"]]},{"id":"bc2781c7.c8bf1","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: WiFinet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_WiFinet\"}","payloadType":"json","x":760,"y":160,"wires":[["25e4f27d.911f4e"]]},{"id":"de2910d6.38337","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: WiFiunconnected","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_WiFiunconnected\"}","payloadType":"json","x":790,"y":200,"wires":[["25e4f27d.911f4e"]]},{"id":"1b2b3b98.f41f14","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: LANnet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_LANnet\"}","payloadType":"json","x":760,"y":240,"wires":[["25e4f27d.911f4e"]]},{"id":"1016d7ab.1925e8","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: ACunconnecter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_ACunconnected\"}","payloadType":"json","x":780,"y":120,"wires":[["25e4f27d.911f4e"]]},{"id":"ba032158.cbd06","type":"inject","z":"d02ad611.d94bc8","name":"test  GET SYSTEM: trgPing","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_trgPing\"}","payloadType":"json","x":750,"y":280,"wires":[["25e4f27d.911f4e"]]},{"id":"25e4f27d.911f4e","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":1095,"y":80,"wires":[]},{"id":"88295108.d83f6","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'.'color': blue","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"colour\",\"value\":{\"r\":0,\"g\":0,\"b\":255,\"h\":0,\"s\":255,\"v\":255}}","payloadType":"json","x":240,"y":720,"wires":[["b9bfe83e.88b628"]]},{"id":"ed8193dd.79d72","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'.'color': green","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"colour\",\"value\":{\"hex\":\"00ff0000006464\"}}","payloadType":"json","x":240,"y":680,"wires":[["b9bfe83e.88b628"]]},{"id":"693a63c2.4a3a1c","type":"inject","z":"d02ad611.d94bc8","name":"test: SET 'umidificatore'.'color': red, JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"umidificatore\",\"property\":\"colour\",\"value\":\"{ \\\"hex\\\": \\\"ff000000006464\\\" }\"}","payloadType":"json","x":260,"y":760,"wires":[["b9bfe83e.88b628"]]},{"id":"d4e3723.2ce099","type":"inject","z":"d02ad611.d94bc8","name":"test GET: tuya_bridge switch ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"switch\"}","payloadType":"json","x":220,"y":80,"wires":[["2abb8b42.fb0014"]]}]