extra/extra.test.2.1.json
[{"id":"e1c6cc8a.2f92a","type":"subflow","name":"REFRESH","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"c306cbee.682538"}]}],"out":[{"x":740,"y":120,"wires":[{"id":"c306cbee.682538","port":1},{"id":"9eb78521.a29748","port":0}]},{"x":600,"y":160,"wires":[{"id":"c306cbee.682538","port":2}]}],"env":[{"name":"deviceID","type":"str","value":""},{"name":"Max time","type":"num","value":"60"}],"color":"#DDAA99","inputLabels":["msg"],"outputLabels":["loop","device "],"icon":"node-red/swap.svg"},{"id":"c306cbee.682538","type":"function","z":"e1c6cc8a.2f92a","name":"*REFRESH control","func":"\nconst FASTDP = \"_refreshCycle\";  // set: 'off'| time [s]\nconst REFDP  = \"_refresh\";        // set: any (trigger)\nconst DEVID  = env.get(\"deviceID\");\n// for tests\nconst REFONLY   = {operation: \"REFRESH\"};\nconst REFONE    = {operation: \"REFRESH\", dps:20};\nconst REFMANY   = {operation:\"REFRESH\",requestedDPS:[1,9,6,17,18,19,20]};\nconst REFSCHEMA = {operation: \"REFRESH\", schema:true};\n\nfunction isNone(value){\n    if(value){\n        if(typeof(value) === \"string\"){\n            if(value.toUpperCase() === 'OFF') return true;\n            if(value.toUpperCase() === 'NO') return true;\n            if(value.toUpperCase() === 'NONE') return true;\n        }\n    return false;\n    }\nreturn true;\n}\n\nif (DEVID === \"\"){\n node.warn(\"ERROR [REFRESH] deviceID not set.\");\n return[null];\n}\n// builds the output message\nvar newMsg = {\n    \"payload\": {\n        \"deviceId\": DEVID,\n        \"deviceName\": \"dummy\", // as device node, not used\n        \"data\": {\n            \"dps\": {}\n        }\n    }\n};\n\n// --------------------------------\n// ignores pseudoDP\nif ((msg.payload === undefined) || (msg.payload.dps === undefined)) return [null, msg];\n//\n// test for REFDP  SET/GET case\nif (msg.payload.dps === REFDP){\n    if (msg.payload.set !== undefined) { // is set\n        newMsg.payload.data.dps[REFDP] = \"sent\";\n        return ([null, {payload:REFONLY}, newMsg]);\n        } else\n    return [null];   // no GET\n }\n\n//  test for  REFDP MULTIPLE case\nif ((msg.payload.data !== undefined) && (msg.payload.data[REFDP] !== undefined) ) {\n    delete msg.payload.data[REFDP];\n    newMsg.payload.data.dps[REFDP] = \"sent\";\n    node.send([null, { payload: REFONLY }, newMsg]);\n    return ([null, msg]);\n}\n\n// ----------------------------------\n// test for FASTDP  SET/GET case\nif (msg.payload.dps === FASTDP) {\n    if (msg.payload.set !== undefined) { // is set\n        context.set(\"fast\", msg.payload.set);\n        newMsg.payload.data.dps[FASTDP] = msg.payload.set;\n        if (isNone(msg.payload.set)) {\n             return ([{ payload: \"stop\" }, null, newMsg]);\n        } else{\n          return ([{ payload:REFONLY, \n                     loop:{duration: msg.payload.set, units:\"Second\", maxtimeout: env.get(\"Max time\"), maxtimeoutunits:\"Second\"}} , null, newMsg]);\n        } \n    } else { // is get, back last value\n        newMsg.payload.data.dps[FASTDP] = context.get(\"fast\");\n        return ([null, null, newMsg]);\n    }\n}\n\n// test for FASTDP  MULTIPLE case\nif ((msg.payload.data !== undefined) && (msg.payload.data[FASTDP] !== undefined)) {\n    let fst = msg.payload.data[FASTDP];\n    delete msg.payload.data[FASTDP];\n    context.set(\"fast\", fst);\n    newMsg.payload.data.dps[FASTDP] = fst;\n    if (isNone(fst)) {\n             return ([{ payload: \"stop\" }, null, newMsg]);\n        } else{\n          return ([{ payload: REFONLY , \n                     loop:{duration: fst, units:\"Second\", maxtimeout: env.get(\"Max time\"), maxtimeoutunits:\"Second\"}} , null, newMsg]);\n        } \n}\n\n// test for ALL,  SCHEMA case\nif (msg.payload.schema) {\n    newMsg.payload.data.dps[FASTDP] = context.get(\"fast\");\n    return ([null, msg, newMsg]);\n}\n// else do nothing\nreturn [null, msg];\n","outputs":3,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"fast\",0);","finalize":"","x":330,"y":120,"wires":[["9eb78521.a29748"],[],[]],"info":"CUSTOMIZATION:\n\n- duplicate this node for any new device\n- update in code the deviceId\n  \nsee: [Howto: add a new device to tuyaDAEMON](https://github.com/msillano/tuyaDAEMON/wiki/Howto:-add-a-new-device-to-tuyaDAEMON)"},{"id":"9eb78521.a29748","type":"looptimer-advanced","z":"e1c6cc8a.2f92a","duration":"10","units":"Second","maxloops":"1000000","maxtimeout":"60","maxtimeoutunits":"Second","name":"","x":560,"y":80,"wires":[[],[]]},{"id":"d02ad611.d94bc8","type":"tab","label":"extra.test","disabled":false,"info":"1) test for unknown encoded data.\n\n2) Collection of tests, to verify tuyaDEAMON integrity and to use as msg examples.\n\n"},{"id":"e05b4c.e495e4b8","type":"comment","z":"d02ad611.d94bc8","name":"Device:   tuya_bridge  (WiFi switch)","info":"To avoid interferences, here is \nused the tuya_bridge switch\n\n","x":230,"y":400,"wires":[]},{"id":"95e6a79a.32bea8","type":"inject","z":"d02ad611.d94bc8","name":"test  SET: tuya_bridge switch  ON [1]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"relay\",\"value\":\"ON\"}","payloadType":"json","x":260,"y":500,"wires":[["2abb8b42.fb0014"]]},{"id":"2abb8b42.fb0014","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":495,"y":460,"wires":[]},{"id":"9ecc1854.252ad8","type":"inject","z":"d02ad611.d94bc8","name":"test SET: tuya_bridge 'on reset' [101] HOLD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"restart status\",\"value\":\"memory\"}","payloadType":"json","x":280,"y":580,"wires":[["2abb8b42.fb0014"]]},{"id":"ce964c66.57f1c","type":"inject","z":"d02ad611.d94bc8","name":"test: GET tuya_bridge 'on reset' [101]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"restart status\"}","payloadType":"json","x":260,"y":620,"wires":[["2abb8b42.fb0014"]]},{"id":"98d8b5ff.95d078","type":"inject","z":"d02ad611.d94bc8","name":"test  SET: tuya_bridge switch  OFF [1]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"relay\",\"value\":\"OFF\"}","payloadType":"json","x":260,"y":540,"wires":[["2abb8b42.fb0014"]]},{"id":"d4e3723.2ce099","type":"inject","z":"d02ad611.d94bc8","name":"test GET: tuya_bridge switch ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"relay\"}","payloadType":"json","x":240,"y":460,"wires":[["2abb8b42.fb0014"]]},{"id":"4fbbb89d.789858","type":"comment","z":"d02ad611.d94bc8","name":"Test CMD - real device","info":"I use for tests the 'power-strip' device because it honors the 'schema' and the 'multiple' commands. ","x":200,"y":700,"wires":[]},{"id":"c2eda0a.64cd86","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":455,"y":740,"wires":[]},{"id":"d0289b27.ab8858","type":"inject","z":"d02ad611.d94bc8","name":"testSET; power strip switch1 ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"1\", \"value\":\"ON\"}","payloadType":"json","x":250,"y":740,"wires":[["c2eda0a.64cd86"]]},{"id":"10e62952.2dfcb7","type":"inject","z":"d02ad611.d94bc8","name":"testGET; power strip switch1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"1\"}","payloadType":"json","x":240,"y":780,"wires":[["c2eda0a.64cd86"]]},{"id":"d9a7f179.dfdb9","type":"inject","z":"d02ad611.d94bc8","name":"testSCHEMA, power strip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"device\": \"power strip\"}","payloadType":"json","x":230,"y":820,"wires":[["c2eda0a.64cd86"]]},{"id":"1f6d1794.d89458","type":"inject","z":"d02ad611.d94bc8","name":"testMULTIPLE; power strip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"multiple\",\"value\":{\"1\":true,\"2\":true}}","payloadType":"json","x":230,"y":860,"wires":[["c2eda0a.64cd86"]]},{"id":"6f08a59b.162f3c","type":"comment","z":"d02ad611.d94bc8","name":"Test fast-cmds real device","info":"I use for tests the 'power-strip' device because it honors the 'schema' and the 'multiple' commands. ","x":610,"y":700,"wires":[]},{"id":"a51db0ff.4ca74","type":"link out","z":"d02ad611.d94bc8","name":"","links":["c084a743.290b28"],"x":855,"y":740,"wires":[]},{"id":"d35bee32.c9e0f","type":"inject","z":"d02ad611.d94bc8","name":"testSET; power strip switch1 OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"1\",\"value\":\"OFF\"}","payloadType":"json","x":650,"y":740,"wires":[["a51db0ff.4ca74"]]},{"id":"dded2f8.238f7d","type":"inject","z":"d02ad611.d94bc8","name":"testGET; power strip switch1 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"1\"}","payloadType":"json","x":640,"y":780,"wires":[["a51db0ff.4ca74"]]},{"id":"115c41a0.a0c7ee","type":"inject","z":"d02ad611.d94bc8","name":"testSCHEMA, power strip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"device\": \"power strip\"}","payloadType":"json","x":630,"y":820,"wires":[["a51db0ff.4ca74"]]},{"id":"bb51bb4f.eafb08","type":"inject","z":"d02ad611.d94bc8","name":"testMULTIPLE; power strip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"multiple\",\"value\":{\"1\":false,\"2\":false}}","payloadType":"json","x":630,"y":860,"wires":[["a51db0ff.4ca74"]]},{"id":"dec584d8.5afd88","type":"comment","z":"d02ad611.d94bc8","name":"Test CMD - fake device","info":"I use here the 'watering_sys' device.\nYou can use it as model for your custom fake devices","x":200,"y":920,"wires":[]},{"id":"1e5c8c33.f6d8a4","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":455,"y":1000,"wires":[]},{"id":"d8ae2a30.95d6f8","type":"inject","z":"d02ad611.d94bc8","name":"testSET: watering_sys.waterweek","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"watering_sys\",\"property\":\"waterweek\",\"value\":\"333\"}","payloadType":"json","x":250,"y":960,"wires":[["1e5c8c33.f6d8a4"]]},{"id":"42b24b09.3e6a34","type":"inject","z":"d02ad611.d94bc8","name":"testGET; watering_sys.waterweek","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"watering_sys\",\"property\":\"waterweek\"}","payloadType":"json","x":250,"y":1000,"wires":[["1e5c8c33.f6d8a4"]]},{"id":"9974e007.38236","type":"inject","z":"d02ad611.d94bc8","name":"testSCHEMA, watering_sys","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"device\": \"watering_sys\"}","payloadType":"json","x":240,"y":1040,"wires":[["1e5c8c33.f6d8a4"]]},{"id":"e1dc2a74.53fd48","type":"inject","z":"d02ad611.d94bc8","name":"testMULTIPLE; watering_sys","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"watering_sys\",\"property\":\"multiple\",\"value\":{\"toggle timer\":1,\"waterweek\":290}}","payloadType":"json","x":240,"y":1080,"wires":[["1e5c8c33.f6d8a4"]]},{"id":"70b31d23.afd7d4","type":"comment","z":"d02ad611.d94bc8","name":"Test fast-cmds - fake device","info":"I use here the 'watering_sys' device.\nYou can use it as model for your custom fake devices","x":620,"y":920,"wires":[]},{"id":"b741480f.454488","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":855,"y":1000,"wires":[]},{"id":"d055262f.7dcc78","type":"inject","z":"d02ad611.d94bc8","name":"testSET: watering_sys.waterweek","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"watering_sys\",\"property\":\"waterweek\",\"value\":\"333\"}","payloadType":"json","x":650,"y":960,"wires":[["b741480f.454488"]]},{"id":"27458c81.7c5ca4","type":"inject","z":"d02ad611.d94bc8","name":"testGET; watering_sys.waterweek","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"watering_sys\",\"property\":\"waterweek\"}","payloadType":"json","x":650,"y":1000,"wires":[["b741480f.454488"]]},{"id":"8607eae2.a86fa8","type":"inject","z":"d02ad611.d94bc8","name":"testSCHEMA, watering_sys","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"device\": \"watering_sys\"}","payloadType":"json","x":640,"y":1040,"wires":[["b741480f.454488"]]},{"id":"5528d9e9.80b538","type":"inject","z":"d02ad611.d94bc8","name":"testMULTIPLE; watering_sys","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"watering_sys\",\"property\":\"multiple\",\"value\":{\"toggle timer\":1,\"waterweek\":290}}","payloadType":"json","x":640,"y":1080,"wires":[["b741480f.454488"]]},{"id":"fd78763.6bdae88","type":"inject","z":"d02ad611.d94bc8","name":"remote SET ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\",\"property\":\"switch\",\"value\":\"ON\"}","payloadType":"json","x":200,"y":1380,"wires":[["6ebd4962.eb72d8"]]},{"id":"59f6cf0a.61c8e","type":"inject","z":"d02ad611.d94bc8","name":"REMOTE LIST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\"}","payloadType":"json","x":200,"y":1500,"wires":[["6ebd4962.eb72d8"]]},{"id":"c2d4a72a.28b3d8","type":"inject","z":"d02ad611.d94bc8","name":"Remote SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\"}","payloadType":"json","x":210,"y":1460,"wires":[["6ebd4962.eb72d8"]]},{"id":"d9d1ca86.0e0c38","type":"inject","z":"d02ad611.d94bc8","name":"Remote GET","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\",\"property\":\"switch\"}","payloadType":"json","x":190,"y":1420,"wires":[["6ebd4962.eb72d8"]]},{"id":"641f43b.82e64bc","type":"inject","z":"d02ad611.d94bc8","name":"remote SET OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\",\"property\":\"switch\",\"value\":\"OFF\"}","payloadType":"json","x":200,"y":1340,"wires":[["6ebd4962.eb72d8"]]},{"id":"6ebd4962.eb72d8","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":415,"y":1340,"wires":[]},{"id":"dc396369.af9b4","type":"comment","z":"d02ad611.d94bc8","name":"Test CMD: remote","info":"Test, required a remote tuyaDEAMON named 'ANDROID':\nGood response:\n\n19/4/2021, 20:26:10node: info\nmsg.payload : array[2]\n[ \"TX SET: fake 'HAL@home'/'_prox…\", object ]\n\n19/4/2021, 20:26:10 node: info\nmsg.payload : array[2]\narray[2]\n   0: \"RX: 'HAL@home'/'_proxy' \"\n   1: object\n      device: \"switch module #1\"\n      property: \"switch\"\n      from: \"ANDROID\"\n      status: \"sent\"\n      \n// if the device, here the 'switch module #1'\n//  is also in the local tuyaDAEMON, \n//  we get the local response:\n19/4/2021, 20:26:10 node: info\nmsg.payload : array[2]\narray[2]\n  0: \"RX: 'switch module #1'/'switch' \"\n  1: \"OFF\"","x":190,"y":1300,"wires":[]},{"id":"1b7d609e.ee695f","type":"inject","z":"d02ad611.d94bc8","name":"remote SET ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\",\"property\":\"switch\",\"value\":\"ON\"}","payloadType":"json","x":600,"y":1380,"wires":[["5e693599.3f435c"]]},{"id":"9e92bdd.4650e4","type":"inject","z":"d02ad611.d94bc8","name":"REMOTE LIST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\"}","payloadType":"json","x":600,"y":1500,"wires":[["5e693599.3f435c"]]},{"id":"dc8c8b9c.550698","type":"inject","z":"d02ad611.d94bc8","name":"Remote SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\"}","payloadType":"json","x":610,"y":1460,"wires":[["5e693599.3f435c"]]},{"id":"f5b4be41.ad344","type":"inject","z":"d02ad611.d94bc8","name":"Remote GET","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\",\"property\":\"switch\"}","payloadType":"json","x":590,"y":1420,"wires":[["5e693599.3f435c"]]},{"id":"6793149d.eed8ac","type":"inject","z":"d02ad611.d94bc8","name":"remote SET OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"ANDROID\",\"device\":\"switch module 1\",\"property\":\"switch\",\"value\":\"OFF\"}","payloadType":"json","x":600,"y":1340,"wires":[["5e693599.3f435c"]]},{"id":"5e693599.3f435c","type":"link out","z":"d02ad611.d94bc8","name":"","links":["c084a743.290b28"],"x":815,"y":1340,"wires":[]},{"id":"a9d98320.9da41","type":"comment","z":"d02ad611.d94bc8","name":"Test fast cmds: remote","info":"Test: reqires a remote tuyaDAEMON named 'ANDROID':\nGood response:\n\n19/4/2021, 20:26:10node: info\nmsg.payload : array[2]\n[ \"TX SET: fake 'HAL@home'/'_prox…\", object ]\n\n19/4/2021, 20:26:10 node: info\nmsg.payload : array[2]\narray[2]\n   0: \"RX: 'HAL@home'/'_proxy' \"\n   1: object\n      device: \"switch module #1\"\n      property: \"switch\"\n      from: \"ANDROID\"\n      status: \"sent\"\n      \n// if the device, here the 'switch module #1'\n//  is also in the local tuyaDAEMON, \n//  we get the local response:\n19/4/2021, 20:26:10 node: info\nmsg.payload : array[2]\narray[2]\n  0: \"RX: 'switch module #1'/'switch' \"\n  1: \"OFF\"","x":600,"y":1300,"wires":[]},{"id":"4d20304.311d8d","type":"inject","z":"d02ad611.d94bc8","name":"remote SET ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"DEVPC\",\"device\":\"switch module 1\",\"property\":\"switch\",\"value\":\"ON\"}","payloadType":"json","x":200,"y":1640,"wires":[["92960929.5eae58"]]},{"id":"240a4fe8.64ec3","type":"inject","z":"d02ad611.d94bc8","name":"REMOTE LIST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"DEVPC\"}","payloadType":"json","x":200,"y":1760,"wires":[["92960929.5eae58"]]},{"id":"e8b6f990.f49328","type":"inject","z":"d02ad611.d94bc8","name":"Remote SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"DEVPC\",\"device\":\"switch module 1\"}","payloadType":"json","x":210,"y":1720,"wires":[["92960929.5eae58"]]},{"id":"1452d5b2.c7b86a","type":"inject","z":"d02ad611.d94bc8","name":"Remote GET","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"DEVPC\",\"device\":\"switch module 1\",\"property\":\"switch\"}","payloadType":"json","x":190,"y":1680,"wires":[["92960929.5eae58"]]},{"id":"12bc7ddd.9da292","type":"inject","z":"d02ad611.d94bc8","name":"remote SET OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"remote\":\"DEVPC\",\"device\":\"switch module 1\",\"property\":\"switch\",\"value\":\"OFF\"}","payloadType":"json","x":200,"y":1600,"wires":[["92960929.5eae58"]]},{"id":"92960929.5eae58","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":415,"y":1600,"wires":[]},{"id":"11f08924.a38b37","type":"comment","z":"d02ad611.d94bc8","name":"Test CMD: remote, itself","info":"","x":200,"y":1560,"wires":[]},{"id":"9e7acf3.31b0c3","type":"link out","z":"d02ad611.d94bc8","name":"to core.std_cmd","links":["8a1da02d.424ae"],"x":555,"y":1220,"wires":[]},{"id":"5643c46b.36ebac","type":"inject","z":"d02ad611.d94bc8","name":"Test std GET  '_laststart'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"HAL@home\",\"property\":\"_laststart\"}","payloadType":"json","x":220,"y":1220,"wires":[["9e7acf3.31b0c3"]]},{"id":"2c0e5d31.d02b72","type":"link out","z":"d02ad611.d94bc8","name":"to core.std_cmd","links":["c084a743.290b28"],"x":555,"y":1180,"wires":[]},{"id":"662b4708.817888","type":"inject","z":"d02ad611.d94bc8","name":"Test fast GET  '_laststart'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"HAL@home\",\"property\":\"_laststart\"}","payloadType":"json","x":220,"y":1180,"wires":[["2c0e5d31.d02b72"]]},{"id":"4399bd03.cfe4e4","type":"link out","z":"d02ad611.d94bc8","name":"to core.std_cmd","links":["8a1da02d.424ae"],"x":575,"y":1920,"wires":[]},{"id":"5b75f4c9.3372ac","type":"inject","z":"d02ad611.d94bc8","name":"Test std GET  \"power strip\". \"Switch1\"'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"Switch1\"}","payloadType":"json","x":270,"y":1920,"wires":[["4399bd03.cfe4e4"]]},{"id":"e0b5bf10.b95ce","type":"inject","z":"d02ad611.d94bc8","name":"Test std   \"power strip\"  SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"device\": \"power strip\"}","payloadType":"json","x":250,"y":1960,"wires":[["4399bd03.cfe4e4"]]},{"id":"ad341350.43d4f","type":"link out","z":"d02ad611.d94bc8","name":"to core.fast_cmd","links":["c084a743.290b28"],"x":1155,"y":1920,"wires":[]},{"id":"1e141637.a73b6a","type":"inject","z":"d02ad611.d94bc8","name":"Test fast  GET  \"power strip\". \"Switch1\"'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"Switch1\"}","payloadType":"json","x":830,"y":1920,"wires":[["ad341350.43d4f"]]},{"id":"d744c6c8.f1ef78","type":"inject","z":"d02ad611.d94bc8","name":"Test fast   \"power strip\"  SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"device\": \"power strip\"}","payloadType":"json","x":810,"y":1960,"wires":[["ad341350.43d4f"]]},{"id":"9b6db06f.ef673","type":"comment","z":"d02ad611.d94bc8","name":"real device: tests in every way  GET  & SCHEMA","info":"Using for test 'power strip' device\nbecause it honors SCHEMA commands\n-----------------------\nNow, the same operation (e.g. GET) can be done in many ways. This tests are here for debug purpose, but are good examples of the request objects and the output data.\n-----------------------\nIn your applications, choose the simplest way. :)\n\nNotes on differences:\n\n**Fast vs Std: **\n  No start \"TX\" message in debug pad\n\n**Fast|Std  SCHEMA:**\n  One \"RX\" message in debug pad for every dp:\n   [\"RX: 'power strip'/'Switch1' \",\"OFF\"]\n   \n**call_cmd|_doCallIN GET ** \n One \"RX\" message in debug pad plus\n in call_return the response is:\n     from: <deviceId>, \n     infodp: <pd>, \n     payload: <value>      (undecoded)\n  \n**call_cmd|_doCallIN SCHEMA **  \n  One \"RX\" message in debug pad for every dp plus\n  in call_return the response is:\n      from: <deviceId>, \n      infodp: schema, \n      payload: \n          schema: \n             1: false,      (dp:undecoded)\n             ......\n\n**_tuyastatus GET returns:**\n One \"RX\" message in debug pad \n   [0: \"RX: 'HAL@home'/'_tuyastatus' \",\n    1: object\n     device: \"power strip\"  (name)\n     property: \"Switch1\"    (name)\n     value: \"OFF\"    ]      (decoded)\n     \n**_tuyastatus SCHEMA returns:**\n One \"RX\" message in debug pad \n   [0: \"RX: 'HAL@home'/'_tuyastatus' \",\n    1: object\n     device: \"power strip\"  (name)\n     value: \n       schema: object\n          Switch1: \"OFF\"    (name:decoded)\n          .......","x":240,"y":1880,"wires":[]},{"id":"f929b96d.4398e8","type":"inject","z":"d02ad611.d94bc8","name":"Test std   _tuyastatus  GET  power strip.Switch1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_tuyastatus\",\"value\":{\"device\":\"power strip\",\"property\":\"Switch1\"}}","payloadType":"json","x":290,"y":2020,"wires":[["4399bd03.cfe4e4"]]},{"id":"8752150d.835c08","type":"inject","z":"d02ad611.d94bc8","name":"Test std  tuyastatus  \"power strip\"  SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_tuyastatus\",\"value\":{\"device\":\"power strip\"}}","payloadType":"json","x":280,"y":2060,"wires":[["4399bd03.cfe4e4"]]},{"id":"e9c70273.b8134","type":"inject","z":"d02ad611.d94bc8","name":"Test fast   _tuyastatus  GET  power strip.Switch1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_tuyastatus\",\"value\":{\"device\":\"power strip\",\"property\":\"Switch1\"}}","payloadType":"json","x":850,"y":2020,"wires":[["ad341350.43d4f"]]},{"id":"3a14f428.1fab7c","type":"inject","z":"d02ad611.d94bc8","name":"Test fast _tuyastatus   \"power strip\"  SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"_system\",\"property\":\"_tuyastatus\",\"value\":{\"device\":\"power strip\"}}","payloadType":"json","x":850,"y":2060,"wires":[["ad341350.43d4f"]]},{"id":"42a9cbac.ae6354","type":"comment","z":"d02ad611.d94bc8","name":"TEST pseudoDP:  _standby, _findTimeout","info":"Used as dp for ALL real DEVICES\n\n_standby = true|false, for unconnected devices SET/MULTIPLE only\n_findTimeout = 1000... xxx000   millisecond,  SET/MULTIPLE only","x":240,"y":2440,"wires":[]},{"id":"5cf9bbfa.6f7c84","type":"inject","z":"d02ad611.d94bc8","name":"meter SET _refreshCycle 10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"_refreshCycle\",\"value\":10}","payloadType":"json","x":260,"y":2220,"wires":[["de64614.cd6d8a"]]},{"id":"de64614.cd6d8a","type":"link out","z":"d02ad611.d94bc8","name":"to core.std_cmd","links":["8a1da02d.424ae"],"x":475,"y":2220,"wires":[]},{"id":"343bd6cb.13cb7a","type":"inject","z":"d02ad611.d94bc8","name":"meter SET _refreshCycle 5s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"_refreshCycle\",\"value\":5}","payloadType":"json","x":260,"y":2260,"wires":[["de64614.cd6d8a"]]},{"id":"192ad41a.29897c","type":"comment","z":"d02ad611.d94bc8","name":"test  pseudo-DP  REFRESH","info":"Is required a device accepting refresh()\nHere is 'meter'.","x":210,"y":2160,"wires":[]},{"id":"b96776e1.361af8","type":"inject","z":"d02ad611.d94bc8","name":"test SET  power strip standby ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"_standby\",\"value\":true}","payloadType":"json","x":270,"y":2480,"wires":[["d05feec8.64e4e"]]},{"id":"85bf3a2e.9fbf78","type":"inject","z":"d02ad611.d94bc8","name":"test SET  power strip standby OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"power strip\",\"property\":\"_standby\",\"value\":false}","payloadType":"json","x":280,"y":2520,"wires":[["d05feec8.64e4e"]]},{"id":"d05feec8.64e4e","type":"link out","z":"d02ad611.d94bc8","name":"to core.std_cmd","links":["8a1da02d.424ae"],"x":535,"y":2480,"wires":[]},{"id":"19983441.02e7ec","type":"inject","z":"d02ad611.d94bc8","name":"test  SET  tuya_bridge standby ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"_standby\",\"value\":true}","payloadType":"json","x":270,"y":2580,"wires":[["eea2d98c.558178"]]},{"id":"9b453d7b.d5f6","type":"inject","z":"d02ad611.d94bc8","name":"test  SET tuya_bridge standby OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"tuya_bridge\",\"property\":\"_standby\",\"value\":false}","payloadType":"json","x":280,"y":2620,"wires":[["eea2d98c.558178"]]},{"id":"eea2d98c.558178","type":"link out","z":"d02ad611.d94bc8","name":"to fast_cmds","links":["c084a743.290b28"],"x":535,"y":2580,"wires":[]},{"id":"632e3514.4ce55c","type":"inject","z":"d02ad611.d94bc8","name":"meter SET REFRESH","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"_refresh\",\"value\":\"now\"}","payloadType":"json","x":660,"y":2260,"wires":[["fc6aa253.9d063"]]},{"id":"fc6aa253.9d063","type":"link out","z":"d02ad611.d94bc8","name":"to core.std_cmd","links":["8a1da02d.424ae"],"x":915,"y":2220,"wires":[]},{"id":"b367c222.5d7b5","type":"inject","z":"d02ad611.d94bc8","name":"meter GET REFRESH","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"_refresh\"}","payloadType":"json","x":660,"y":2300,"wires":[["fc6aa253.9d063"]]},{"id":"b024f45a.fc6558","type":"inject","z":"d02ad611.d94bc8","name":"meter MULTIPLE  _refreshCycle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"multiple\",\"value\":{\"1\":true,\"_refreshCycle\":20}}","payloadType":"json","x":270,"y":2380,"wires":[["de64614.cd6d8a"]]},{"id":"9b67396e.1e5768","type":"inject","z":"d02ad611.d94bc8","name":"meter GET _refreshCycle","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"_refreshCycle\"}","payloadType":"json","x":250,"y":2340,"wires":[["de64614.cd6d8a"]]},{"id":"b7a4b3eb.5bf12","type":"inject","z":"d02ad611.d94bc8","name":"meter MULTIPLE  REFRESH","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"multiple\",\"value\":{\"1\":false,\"_refresh\":true}}","payloadType":"json","x":680,"y":2340,"wires":[["fc6aa253.9d063"]]},{"id":"9c371000.0c634","type":"inject","z":"d02ad611.d94bc8","name":"test: null command (error)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":230,"y":1120,"wires":[["1e5c8c33.f6d8a4"]]},{"id":"3f68b078.67e61","type":"inject","z":"d02ad611.d94bc8","name":"test: null command (error)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":630,"y":1120,"wires":[["b741480f.454488"]]},{"id":"923c786b.f43428","type":"comment","z":"d02ad611.d94bc8","name":"test for data encoding","info":"The _system._zeroLog show the SET value received.\n\nThis is a test for the default processing (i.e. without 'type' and 'typefield') of a value.","x":680,"y":400,"wires":[]},{"id":"8ecb4f93.c352f","type":"inject","z":"d02ad611.d94bc8","name":"string","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"test string","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":650,"y":460,"wires":[["fb2a9b8.38c9068"]]},{"id":"fb2a9b8.38c9068","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":815,"y":460,"wires":[]},{"id":"90faf976.03c8b8","type":"inject","z":"d02ad611.d94bc8","name":"string  '1234'","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"1234","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":670,"y":540,"wires":[["fb2a9b8.38c9068"]]},{"id":"41efb182.afa51","type":"inject","z":"d02ad611.d94bc8","name":"string 'false'","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"false","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":670,"y":580,"wires":[["fb2a9b8.38c9068"]]},{"id":"f0c66643.b5c5e8","type":"inject","z":"d02ad611.d94bc8","name":"int  1234","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"1234","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":890,"y":580,"wires":[["2e0b9f99.da3a5"]]},{"id":"1283d548.42307b","type":"inject","z":"d02ad611.d94bc8","name":"string '1.56'","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"1.56","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":660,"y":620,"wires":[["fb2a9b8.38c9068"]]},{"id":"f17c2c26.825fd","type":"inject","z":"d02ad611.d94bc8","name":"number   3.14","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"3,14","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":910,"y":540,"wires":[["2e0b9f99.da3a5"]]},{"id":"33da11a1.1757ee","type":"inject","z":"d02ad611.d94bc8","name":"string 'null'","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"null","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":660,"y":500,"wires":[["fb2a9b8.38c9068"]]},{"id":"79f13b48.7dd8e4","type":"inject","z":"d02ad611.d94bc8","name":"object","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"{ \"test\":\"a string\", \"more\":2}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":891.4285888671875,"y":617.7142944335938,"wires":[["2e0b9f99.da3a5"]]},{"id":"2e0b9f99.da3a5","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":1055,"y":520,"wires":[]},{"id":"77b3c9e0.3edf68","type":"inject","z":"d02ad611.d94bc8","name":"string   3,14","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"3,14","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":660,"y":660,"wires":[["fb2a9b8.38c9068"]]},{"id":"340ae2f.78ee41e","type":"inject","z":"d02ad611.d94bc8","name":"number   3.14","props":[{"p":"payload.device","v":"_system","vt":"str"},{"p":"payload.property","v":"_zeroLog","vt":"str"},{"p":"payload.value","v":"3.14","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":910,"y":500,"wires":[["2e0b9f99.da3a5"]]},{"id":"ef7313cc.602af","type":"inject","z":"d02ad611.d94bc8","name":"meter SET _refreshCycle STOP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"_refreshCycle\",\"value\":\"off\"}","payloadType":"json","x":270,"y":2300,"wires":[["de64614.cd6d8a"]]},{"id":"d599ed54.a51a","type":"inject","z":"d02ad611.d94bc8","name":"SLOW retry umidificatore","props":[{"p":"payload.device","v":"umidificatore","vt":"str"},{"p":"payload.property","v":"_findTimeout","vt":"str"},{"p":"payload.value","v":"20000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":730,"y":2400,"wires":[["fc6aa253.9d063"]]},{"id":"2e411353.0cbf7c","type":"inject","z":"d02ad611.d94bc8","name":"FAST retry umidificatore","props":[{"p":"payload.device","v":"umidificatore","vt":"str"},{"p":"payload.property","v":"_findTimeout","vt":"str"},{"p":"payload.value","v":"1000","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":720,"y":2440,"wires":[["fc6aa253.9d063"]]},{"id":"d63e805b.f5c8f","type":"inject","z":"d02ad611.d94bc8","name":"STANDBY ON umidificatore","props":[{"p":"payload.device","v":"umidificatore","vt":"str"},{"p":"payload.property","v":"_standby","vt":"str"},{"p":"payload.value","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":740,"y":2500,"wires":[["fc6aa253.9d063"]]},{"id":"f4b93c19.98ecf","type":"inject","z":"d02ad611.d94bc8","name":"STANDBY OFF umidificatore","props":[{"p":"payload.device","v":"umidificatore","vt":"str"},{"p":"payload.property","v":"_standby","vt":"str"},{"p":"payload.value","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":740,"y":2540,"wires":[["fc6aa253.9d063"]]},{"id":"174c716c.f1fbbf","type":"inject","z":"d02ad611.d94bc8","name":"meter SET OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"1\",\"value\":\"off\"}","payloadType":"json","x":640,"y":2220,"wires":[["fc6aa253.9d063"]]},{"id":"c50700c1.759c8","type":"inject","z":"d02ad611.d94bc8","name":"meter SET oON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"device\":\"AC meter\",\"property\":\"1\",\"value\":1}","payloadType":"json","x":640,"y":2180,"wires":[["fc6aa253.9d063"]]},{"id":"6d16a0c.1e8b16","type":"inject","z":"d02ad611.d94bc8","name":" TEST SET _refreshCycle(2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"dps\":\"_refreshCycle\",\"set\":2}","payloadType":"json","x":200,"y":60,"wires":[["60f3042.84667fc"]]},{"id":"790d078c.b8faf8","type":"inject","z":"d02ad611.d94bc8","name":" TEST SET _refreshCycle(60)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"dps\":\"_refreshCycle\",\"set\":60}","payloadType":"json","x":200,"y":100,"wires":[["60f3042.84667fc"]]},{"id":"f2f1c51a.683d08","type":"inject","z":"d02ad611.d94bc8","name":"TEST GET  _refreshCycle()","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"GET\",\"dps\":\"_refreshCycle\"}","payloadType":"json","x":190,"y":140,"wires":[["60f3042.84667fc"]]},{"id":"557739bd.c20698","type":"tuya-smart-device","z":"d02ad611.d94bc8","d":true,"deviceName":"tuya device","deviceId":"bf94066e80ba060a04vmxi","deviceKey":"ddfd532e9962d0a8","deviceIp":"","retryTimeout":"2279","findTimeout":"6291","tuyaVersion":"3.3","eventMode":"event-both","x":830,"y":120,"wires":[["31848eb8.4d4002"],[]]},{"id":"d9076dc4.4ee18","type":"inject","z":"d02ad611.d94bc8","name":"TEST SET MULTIPLE  \"1\":ON + _refreshCycle(2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"multiple\":true,\"data\":{\"1\":true,\"_refreshCycle\":2}}","payloadType":"json","x":260,"y":180,"wires":[["60f3042.84667fc"]]},{"id":"b33cb408.fd42f8","type":"inject","z":"d02ad611.d94bc8","name":"SCHEMA","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"GET\", \"schema\":true}","payloadType":"json","x":140,"y":260,"wires":[["60f3042.84667fc"]]},{"id":"31848eb8.4d4002","type":"debug","z":"d02ad611.d94bc8","name":"TEST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":160,"wires":[]},{"id":"a48f8c4c.cb5fb","type":"inject","z":"d02ad611.d94bc8","name":"TEST SET MULTIPLE  \"1\":ON + _refreshCycle(30)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"multiple\":true,\"data\":{\"1\":true,\"_refreshCycle\":30}}","payloadType":"json","x":270,"y":220,"wires":[["60f3042.84667fc"]]},{"id":"60f3042.84667fc","type":"subflow:e1c6cc8a.2f92a","z":"d02ad611.d94bc8","name":"","env":[{"name":"deviceID","value":"bf94066e80ba060a04vmxi","type":"str"}],"x":590,"y":160,"wires":[["557739bd.c20698"],["31848eb8.4d4002"]]},{"id":"5d8130ef.8552e","type":"inject","z":"d02ad611.d94bc8","name":"test GO","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_go","vt":"str"},{"p":"payload.value","v":"now","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":190,"y":2780,"wires":[["beb91b.bdf6e6e8"]]},{"id":"beb91b.bdf6e6e8","type":"link out","z":"d02ad611.d94bc8","name":"","links":["8a1da02d.424ae"],"x":435,"y":2780,"wires":[]},{"id":"60689a7b.4e1184","type":"inject","z":"d02ad611.d94bc8","name":"test OFF","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_off","vt":"str"},{"p":"payload.value","v":"now","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":200,"y":2820,"wires":[["beb91b.bdf6e6e8"]]},{"id":"cfbfe35f.0420b","type":"inject","z":"d02ad611.d94bc8","name":"test send","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_send","vt":"str"},{"p":"payload.value","v":"now","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":2900,"wires":[["beb91b.bdf6e6e8"]]},{"id":"911ca726.bbce08","type":"comment","z":"d02ad611.d94bc8","name":"TEST MQTT/ozone/1","info":"","x":210,"y":2720,"wires":[]},{"id":"2befa229.08aabe","type":"inject","z":"d02ad611.d94bc8","name":"test MODE LOOP","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_mode","vt":"str"},{"p":"payload.value","v":"LOOP","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":2940,"wires":[["beb91b.bdf6e6e8"]]},{"id":"54bfd6ce.88e758","type":"inject","z":"d02ad611.d94bc8","name":"test refreshCycle 60","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_refreshCycle","vt":"str"},{"p":"payload.value","v":"60","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":2980,"wires":[["beb91b.bdf6e6e8"]]},{"id":"2078edc1.fd6292","type":"inject","z":"d02ad611.d94bc8","name":"test END","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_end","vt":"str"},{"p":"payload.value","v":"now","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":2860,"wires":[["beb91b.bdf6e6e8"]]},{"id":"9deb43d9.2c108","type":"inject","z":"d02ad611.d94bc8","name":"test refreshCycle 6","props":[{"p":"payload.device","v":"sonoff001","vt":"str"},{"p":"payload.property","v":"_refreshCycle","vt":"str"},{"p":"payload.value","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":3020,"wires":[["beb91b.bdf6e6e8"]]}]