extra/custom PM detector/test-PDMtimer.json
[
    {
        "id": "14e69cd6831af966",
        "type": "tab",
        "label": "Tests for _sonoff001",
        "disabled": false,
        "info": "Here some test cases for the ozone PDMtimer.\n\nFor more details see https://github.com/msillano/tuyaDAEMON/blob/main/devices/Ozone_PDMtimer/device_Ozone_PDMtimer.pdf",
        "env": []
    },
    {
        "id": "a8d5e0087d065a11",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "refresh",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_refresh",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "any",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "a2a14a69903b64af"
            ]
        ]
    },
    {
        "id": "a2a14a69903b64af",
        "type": "link out",
        "z": "14e69cd6831af966",
        "name": "to core.std_cmd",
        "mode": "link",
        "links": [
            "8a1da02d.424ae"
        ],
        "x": 845,
        "y": 460,
        "wires": []
    },
    {
        "id": "f3969a45c8f5bab3",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "refreshCycle 5s",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_refreshCycle",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "5",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "a2a14a69903b64af"
            ]
        ]
    },
    {
        "id": "f525cbfcbb778257",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "mode AUTO",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_mode",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "AUTO",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "24742ecd378f4a9a"
            ]
        ]
    },
    {
        "id": "f0993bef7042a1b3",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "mode LOOP",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_mode",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "LOOP",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "24742ecd378f4a9a"
            ]
        ]
    },
    {
        "id": "54969bd8085d0c63",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "start NOW (go)",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_go",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "any",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "24742ecd378f4a9a"
            ]
        ]
    },
    {
        "id": "0eec86ed2268813f",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "set ON time 6m",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_ONtime",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "6",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "613887b619e73e8a"
            ]
        ]
    },
    {
        "id": "c84d0784f51ac45d",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "set ON time 4m",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_ONtime",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "4",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "613887b619e73e8a"
            ]
        ]
    },
    {
        "id": "843a5e8c59043a22",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "set OFF time 5m",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_OFFtime",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "5",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "613887b619e73e8a"
            ]
        ]
    },
    {
        "id": "fddec1c588303f7a",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "set OFF time 3m",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_OFFtime",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "3",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "613887b619e73e8a"
            ]
        ]
    },
    {
        "id": "0760ee0923dc7f1f",
        "type": "link out",
        "z": "14e69cd6831af966",
        "name": "to core.std_cmd",
        "mode": "link",
        "links": [
            "8a1da02d.424ae"
        ],
        "x": 385,
        "y": 160,
        "wires": []
    },
    {
        "id": "613887b619e73e8a",
        "type": "link out",
        "z": "14e69cd6831af966",
        "name": "to core.std_cmd",
        "mode": "link",
        "links": [
            "8a1da02d.424ae"
        ],
        "x": 385,
        "y": 280,
        "wires": []
    },
    {
        "id": "aeab79e58c37ebb9",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "set PDM  10%",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_PDM",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "0760ee0923dc7f1f"
            ]
        ]
    },
    {
        "id": "463aef1a31f57ec8",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "set PDM  90%",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_PDM",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "90",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "0760ee0923dc7f1f"
            ]
        ]
    },
    {
        "id": "24742ecd378f4a9a",
        "type": "link out",
        "z": "14e69cd6831af966",
        "name": "to core.std_cmd",
        "mode": "link",
        "links": [
            "8a1da02d.424ae"
        ],
        "x": 845,
        "y": 280,
        "wires": []
    },
    {
        "id": "f425749b9609efce",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "refreshCycle OFF",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_refreshCycle",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "NONE",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 660,
        "y": 540,
        "wires": [
            [
                "a2a14a69903b64af"
            ]
        ]
    },
    {
        "id": "c07c93135b34705a",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "reset (END)",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_end",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "any",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "24742ecd378f4a9a"
            ]
        ]
    },
    {
        "id": "177b589c79c4b49f",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "suspend (OFF)",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_off",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "any",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "24742ecd378f4a9a"
            ]
        ]
    },
    {
        "id": "395156e2fc31ae1f",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "OFF mode",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_mode",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "24742ecd378f4a9a"
            ]
        ]
    },
    {
        "id": "4297c58aab525bab",
        "type": "comment",
        "z": "14e69cd6831af966",
        "name": "Tests for the driver-PDMtimer001 (device '_sonoff001')",
        "info": "",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "185972c70e53c841",
        "type": "inject",
        "z": "14e69cd6831af966",
        "name": "send",
        "props": [
            {
                "p": "payload.device",
                "v": "_sonoff001",
                "vt": "str"
            },
            {
                "p": "payload.property",
                "v": "_send",
                "vt": "str"
            },
            {
                "p": "payload.value",
                "v": "any",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "a2a14a69903b64af"
            ]
        ]
    }
]