tuyaDAEMON/tuyaDAEMON.MQTT.2.1.json
[{"id":"64074ca.02860b4","type":"tab","label":"extra.MQTT","disabled":false,"info":""},{"id":"6c72d7fb.2c6318","type":"debug","z":"64074ca.02860b4","d":true,"name":"MQTT BROKER MSG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":260,"wires":[]},{"id":"5e5a634a.3dd57c","type":"mqtt out","z":"64074ca.02860b4","name":"client MQTT - events","topic":"","qos":"1","retain":"true","broker":"337e95bb.d94d9a","x":600,"y":320,"wires":[]},{"id":"d9a39495.b40668","type":"mqtt in","z":"64074ca.02860b4","name":"client MQTT - commands","topic":"tuyaDAEMON/+/+/command/#","qos":"1","datatype":"auto","broker":"337e95bb.d94d9a","x":610,"y":380,"wires":[["a71345ed.371c68"]]},{"id":"5481379d.427ab8","type":"aedes broker","z":"64074ca.02860b4","name":"tuyaDEAMON broker","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"8088","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":600,"y":260,"wires":[["6c72d7fb.2c6318"]]},{"id":"a71345ed.371c68","type":"function","z":"64074ca.02860b4","name":"format std command","func":"function yesSpecial(str){\n      let tmp = str.replace('%23','#').replace('%2B','+').trim();\n      return  (tmp)? tmp.replace('%25','%') : undefined;     // the space (' ') becomes undefined\n}\n\n    let inptop = msg.topic + '//////';\n    let pars = inptop.split(\"/\");\n    newmsg = {payload:{}};\n//    node.warn([\"pre in MQTT\",pars, newmsg ]);\n    if ((pars[0]=='tuyaDAEMON') && (pars[3]=='command')) {\n        newmsg.payload['remote']   =  pars[1]; \n        newmsg.payload['device']   =  yesSpecial(pars[2]) ; \n        newmsg.payload['property'] =  yesSpecial(pars[4]) ; \n        newmsg.payload['value']    = (msg.payload)?JSON.parse(msg.payload): undefined ; \n//    node.warn([\"post in MQTT\",pars, newmsg ]);\n        return newmsg;       \n    }\n return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":380,"wires":[["c6eec3b9.38b0b","4ff9cef5.4369b"]]},{"id":"39f74e4e.a48f02","type":"link in","z":"64074ca.02860b4","name":"automata_in","links":["9fe75b23.a05408"],"x":195,"y":320,"wires":[["650b8f33.afb81","ec6fabc5.d5f158"]]},{"id":"650b8f33.afb81","type":"function","z":"64074ca.02860b4","name":"format event","func":"//\nfunction noSpecial(str) {\n    let tmp = str.replace('%', '%25').replace('#', '%23');\n    return tmp.replace('+', '%2B');\n}\n\nlet urls = global.get(\"remotemap\");\nlet remote = msg.remote_from || urls.itself;\n\n// Special case list devices (if empty command)\nif ((msg.from === \"_system\") && (msg.infodp === \"list\") && (msg.info.value.length > 0)) {\n    msg.info.value.forEach((device, index) => {\n        lmsg = {\n            topic: 'tuyaDAEMON/' + remote + '/' + noSpecial(device) + '/event',\n            payload: null\n        };\n        node.send(lmsg);\n    });\n    return null;\n}\n\n// Special case list devices   ( from _system/_tuyastatus)\nif ((msg.from === \"_system\") && (msg.infodp === \"_tuyastatus\") && (msg.info.value.list !== undefined)) {\n    msg.info.value.list.forEach((device, index) => {\n        lmsg = {\n            topic: 'tuyaDAEMON/' + remote + '/' + noSpecial(device) + '/event',\n            payload: null\n        };\n        node.send(lmsg);\n    });\n    return null;\n}\n\n// Special case schema devices   ( from _system/_tuyastatus)\nif ((msg.from === \"_system\") && (msg.infodp === \"_tuyastatus\") && (msg.info.value.value.schema !== undefined)) {\n    //         msg.info.value.value.schema.forEach((dps, val) => {\n    for (const[dps, val]of Object.entries(msg.info.value.value.schema)) {\n        lmsg = {\n            topic: 'tuyaDAEMON/' + remote + '/' + noSpecial(msg.info.value.device) + '/event/' + noSpecial(dps),\n            payload: (val === \"\") ? '\"null\"' : JSON.stringify(val)\n        };\n        if (dps !== '_t')\n            node.send(lmsg);\n    }\n    return null;\n}\n\n// general case\nlet xtopic = 'tuyaDAEMON/' + remote + '/' + noSpecial(msg.info.device) + '/event/' + noSpecial(msg.info.property);\nnewmsg = {topic: xtopic};\nnewmsg.payload = (msg.info.value === \"\") ? '\"null\"' : JSON.stringify(msg.info.value);\nif (msg.info.property === '_t')\n    return null;\nreturn newmsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["5e5a634a.3dd57c","84e57447.7a8ff8"]]},{"id":"84e57447.7a8ff8","type":"debug","z":"64074ca.02860b4","d":true,"name":"MQTT TX EVENTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":440,"wires":[]},{"id":"c6eec3b9.38b0b","type":"link out","z":"64074ca.02860b4","name":"","links":["8a1da02d.424ae"],"x":1075,"y":380,"wires":[]},{"id":"4ff9cef5.4369b","type":"debug","z":"64074ca.02860b4","d":true,"name":"MQTT COMMANDS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":440,"wires":[]},{"id":"ec6fabc5.d5f158","type":"debug","z":"64074ca.02860b4","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":420,"wires":[]},{"id":"337e95bb.d94d9a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]